.card-bg {
  background: rgb(0, 113, 176);
  background: linear-gradient(
    180deg,
    rgba(0, 113, 176, 1) 0%,
    rgba(215, 9, 19, 1) 64%,
    rgba(251, 223, 2, 1) 100%
  );
}

.card-bg-2 {
  background: rgb(4, 112, 174);
  background: linear-gradient(
    180deg,
    rgba(4, 112, 174, 1) 0%,
    rgba(221, 47, 16, 1) 100%
  );
}

.card-bg-3 {
  background: rgb(221, 47, 16);
  background: linear-gradient(
    180deg,
    rgba(221, 47, 16, 1) 0%,
    rgba(251, 223, 2, 1) 100%
  );
}

.card-bg-4 {
  background: rgb(0, 113, 176)!important;
  background: linear-gradient(
    180deg,
    rgba(251, 223, 2, 1) 0%,
    rgba(215, 9, 19, 1) 64%,
    rgba(0, 113, 176, 1) 100%
  )!important;
}

.card-bg-5 {
    background: rgb(0, 113, 176)!important;
    background: linear-gradient(
      180deg,
      rgba(251, 223, 2, 1) 0%,
      rgba(215, 9, 19, 1) 100%
    )!important;
  }

#consejos .btn:hover {
  background-color: #db0c13 !important;
  border-color: #fad904 !important;
  color: #ffffff !important;
  font-weight: bold !important;
}

#historic-monuments .btn:hover {
  background-color: #db0c13 !important;
  border-color: #fad904 !important;
  color: #ffffff !important;
  font-weight: bold !important;
}

#galeria .card {
  box-shadow: 0px 0px 20px 1px #000000;
}
